
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color:black;
    position: relative;
    height: 100%;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.back_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    font-family:sans-serif;
    color:rgb(97, 154, 154);
    opacity: 0.11;
    position: absolute;
    top:0;
    left:500px;
}

.section1{
    padding: 2vw 6vw;
}



.sec1_left h1{
    color:rgb(32, 194, 174);
}

.sec1_left p{
    font-size: 10px;
    text-align: center;
    color:rgb(32, 194, 174);
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
 
   .sec1_right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
   }

   ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
   }
ul a,i{
    text-decoration: none;
    color:rgb(32, 194, 174); 
    font-size: 15px;
}


.section2, .section3{
    padding: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2_left{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 60vw;
}

.sec2_left h4, h1 span , .sec3_left h4{
    color:rgb(32, 194, 174);
}

.sec2_left h1, .sec3_left h1{
    color: white;
    font-size: 70px;
}

.sep{
    background-color:rgb(32, 194, 174); 
    height:2px;
    width:100PX
}

.sec2_left p, .sec3_left p{
    color:white;
}

.section2 .img{
    height:300px;
    border-radius: 10px;
box-shadow: 15px 15px 30px rgb(32, 194, 174);
    width: 200px;
    background-image: url("assets/images/home_img.png");
    background-repeat: no-repeat;
}

.sec3_left{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 50vw;
}

.section3 .sec3_left button{
    width:90px;
    height: 30px;
    font-size: 17px;
    padding: 4px;
    background-color:rgb(32, 194, 174); 
    border-style: none;
    border-radius: 10px;
}

@media (min-width:1100px) {
    .section2{
        padding: 5vw 8vw;
    }
    .sec2_left{
        width: 50vw;
    }
}

