
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(rgb(30, 30, 30), rgb(68, 68, 68), rgb(30, 30, 30));
    overflow-x: hidden;
    /* touch-action:cross-slide-y; */
   
  }

/* body{
    margin: 0;
    padding: 0;
    
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    background: linear-gradient(rgb(30, 30, 30), rgb(68, 68, 68), rgb(30, 30, 30));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
} */
 .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10vw;
    backdrop-filter:blur(10px);
    position:absolute;
    top: 0;
    right: -70vw;
    height: 100vh;
    width: 70vw;
    z-index: 999;
    background-color: rgba(84, 77, 81, 0.2);
    padding: 15vw;
    /* transform: translateX(100%); 
    transition: transform 0.3s ease; */
    /* display: none; */
 } 
.sidebar a{
    font-size: 18px;
    text-decoration: none;
    color:rgb(32, 194, 174);
}
.close-bar{
    position: absolute;
    top: 2%;
    right:10%;
    background-color:rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(5px);
    border-radius:50%;
    padding: 5px;
    cursor: pointer;
}

.menu-bar{
    display: none;
    cursor: pointer;
} 

.section1{
    padding:2vw 6vw;
}

.sec1_left h1{
    color:rgb(32, 194, 174);
}

.sec1_left p{
    font-size: 10px;
    text-align: center;
    color:rgb(32, 194, 174);
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
 
   .sec1_right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
   }

   .list-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
   }
.list-bar a{
    text-decoration: none;
    color:rgb(32, 194, 174); 
    font-size: 15px;
}

.sec1_right i{
    color:rgb(32, 194, 174); 
    font-size: 20px;
}


.section2, .section3, .section4{
    padding: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2_left{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 60vw;
}


.sec2_left h4, h1 span , .sec3_left h4, .sec4_right h4{
    color:rgb(32, 194, 174);
}

.sec2_left h1, .sec3_left h1, .sec4_right h1{
    color: white;
    font-size: 70px;
}

.sep{
    background-color:rgb(32, 194, 174); 
    height:2px;
    width:100PX
}

.sec2_left p, .sec3_left p, .sec4_right p{
    color:white;
}

.sec2_right .img{
    height:280px;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgb(32, 194, 174);
    width: 200px;
    overflow: hidden;
}

.sec2_right .img img{
    height: 300px;
    width: 200px;
}

.sec3_left, .sec4_right{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 50vw;
}
.sec3_right{
    display: flex;
    gap: 2vw;
    margin-right: 2vw;
}
.icon_box1, .icon_box2{
    display: flex;
    flex-direction: column;
    gap:2vw;
    color: white;
}
.icon_box2{
    margin-top: 2vw;
}

.icons{
    height:180px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(56, 55, 55);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items:center;
    position: relative;
    overflow: hidden;
    
}

 .box{
    height: 70%;
    width: 100%;
    background:linear-gradient(transparent,rgb(151, 205, 198));
    position: absolute;
    bottom: 0px;
}
.icons i{
    font-size: 50px;
    color: rgb(32, 194, 174); ;
}

.icons p{
    width: 170px;
    font-size: 13px;
    text-align: center;
}
.icons h2{
    font-size: 18px;
    text-align: center;
}

.section3 .sec3_left button{
    width:90px;
    height: 30px;
    font-size: 17px;
    padding: 4px;
    background-color:rgb(32, 194, 174); 
    border-style: none;
    border-radius: 10px;
}

.sec4_img{
    height: 400px;
    width: 400px;
}

.sec4_img img{
    height: 400px;
    width: 400px;
    object-fit: contain;
    filter: blur(3px);
}

.sec4_right .down4{
    display: flex;
    margin-top: 2vw;
}

.down4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
}
 .down4 .down_box{
    display: flex;
    flex-direction: column;
    gap: 1vw;
} 

.down_box .down_icon{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.down_box p{
    font-size: 15px;
}

.down_icon h3{
    font-size: 25px;
    color: white;
}

.down_icon i{
    font-size: 70PX;
    color:  rgb(32, 194, 174);;
}

.section5{
    padding: 6vw;
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: center;
    color: white;
}

.sec5_icons i{
    font-size: 50px;
    color:  rgb(32, 194, 174);;
}
.sec5_icons p{
    font-size: 15px;
}
.sec5_icons .num{
    font-size: 40px;
    color: rgb(32, 194, 174);
    margin-top: 1vw;
}

.section5 .sec5_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:center;
    gap:8px;
}


@media (min-width:320px) and (max-width:750px) {
    /* .sidebar {
        right: 0; 
      } */
    .list-bar{
        display: none;
    }

    .menu-bar{
        display: block;
        color: rgb(32, 194, 174);
    }

    .sec1_right{
        margin-left: 4vw;
    }
    .section2, .section3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:8vw;
        margin:10vw;
       
    }
    .section4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        padding:10vw;
    }

    .icons{
        height:150px;
        width: 150px;  
    }
    .icons i{
        font-size: 40px;
    }
    
    .icons p{
        width: 150px;
        font-size: 13px;
    }
    .down_icon i{
        font-size: 50PX;
    }
    .down_icon h3{
        font-size: 20PX;
    }
    .down_icon p{
        font-size:13PX;
    }

    .sec2_left, .sec3_left, .sec4_right{
        width: 90vw;
    }
    .sec2_left h1, .sec3_left h1, .sec4_right h1{
        font-size:28px;
    }
    p{
        font-size: 18px;
    }

    .sec3_left{
        gap: 4vw;
    }
    .section5{
        padding: 10vw;
    }
   
    .sec5_icons i{
        font-size:40px;
    }
    .sec5_icons p{
        font-size: 13px;
    }
    .sec5_icons .num{
        font-size:30px;
    }
   
    
}
@media (min-width:750px) and (max-width:999px){
    .section2, .section3{
        padding: 4vw;
        gap:6vw;
       
    }
    .section4{
       padding: 3vw;
       gap:1vw;
    }
    .icons{
        height:150px;
        width: 150px;
    }
    .icons i{
        font-size: 45px;
    }
    .down_box p{
        font-size: 13px;
    }
    
    .down_icon h3{
        font-size: 22px;
        color: white;
    }
    
    .down_icon i{
        font-size: 60PX;
        color:  rgb(32, 194, 174);;
    }
    .down_icon p{
        font-size:13PX;
    }
    .sec5_icons i{
        font-size: 45px;
        color:  rgb(32, 194, 174);;
    }
    .sec5_icons p{
        font-size: 13px;
    }
    .sec5_icons .num{
        font-size: 35px;
    }
}


@media (min-width:999px) and (max-width:1600px) {
    .section2, .section4{
        padding: 5vw 9vw;
    }
    
    .sec1_left h1{
        font-size: 38px;
    }


    .sec2_left{
        width: 50vw;
    }

    .sec3_left{
        width: 45vw;
    }

    .sec2_left h1, .sec3_left h1, .sec4_right h1{
        font-size:80px;
    }
    p{
        font-size: 20px;
    }

    ul a{
        font-size: 20px;
    }
    .down4{
        gap:5vw;
    }
    .down_icon h3{
        font-size: 28px;
    }
}


